<!DOCTYPE html>
<html>
<head>
    <title>登录</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">
    <meta name="MobileOptimized" content="320">
    <meta name="format-detection" content="telephone=no">
    <style>
        body{background:#333;}
        .login-box{width:300px;height:380px;text-align:center;background:#fff;position:absolute;opacity:0;transition:opacity 1s;}
        .qrcode-box{width:200px;margin:50px auto;position:relative;}
        .qrcode-box img{width:50px;height:50px;border-radius:25px;box-shadow: 0 0 6px #333;position:absolute;left:75px;top:75px;}
        .qrcode{width:200px;height:200px;}
        .red{color:#FF2A2C;}
    </style>
</head>
<body>
<div id="loginBox" class="login-box">
    <div class="qrcode-box">
        <img src="/commonStatic/images/wechat_ico.jpg"/>
        <div id="qrcode" class="qrcode"></div>
    </div>
    <p>使用微信<span class="red">公众号</span>扫码登录</p>
</div>
<script type="text/javascript" src="/commonStatic/js/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="/commonStatic/js/jquery.qrcode.min.js"></script>
<script type="text/javascript" src="/commonStatic/js/common.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript">

    const ident = randomString(16);
    const msg = toUtf8("请使用公众号提供的扫码进行扫码登录");
    const g = toUtf8("微信公众号：namehanr722");
    const socket = io.connect();//与服务器进行连接
    socket.emit('join', ident);
    socket.on('pmsg', function (from,to,openid){
        const reqData = getRequest();
        window.location.href = reqData.redirectURL;
    });
    $("#loginBox").BoxCenter();
    $('#qrcode').qrcode({
        render: "canvas", //也可以替换为table
        width: 200,
        height: 200,
        foreground: "#333",
        background: "#FFF",
        text: "login=="+ident+"==\n"+msg+"\n"+g
    });
</script>
</body>
</html>