{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block css %}
<link type="text/css" rel="stylesheet" href="/css/talk.css"/>
{% endblock %}
{% block body %}
<div>
    <audio id="audio" src="/play/speech?talk={{data.talk}}" autoplay></audio>
</div>
<div>
    <br/><dr/>
    <button id="start" style="user-select:none;margin-top:100px;padding:20px;">录音</button>
</div>
<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script src="/js/talk.js"></script>
{% endblock %}