body{background:#F7FAF3;}
.wrapper{overflow:hidden;}
.wrapper main{width:100%;min-height:650px;background:#fff;padding-top:40px;}
.wrapper .content{padding-top:20px;background:url(../images/h_line.jpg) repeat-x left top;}
.wrapper .content .title{width:100px;height:40px;line-height:40px;font-size:20px;background:#fff;top:-16px;left:0;}
.wrapper .content .title span{color:#FE51A5;font-weight: bold;}

.wrapper .content .left li{width:100%;padding-top:20px;}
.wrapper .content .left li h4 a{color: #333;}
.wrapper .content .left .artCont{margin:10px 0;position:relative;}
.wrapper .content .left .artCont .img{float:left;width:180px;min-height:80px;padding:4px;border:1px solid #efefef;}
.wrapper .content .left .artCont .img img{width:180px;}
.wrapper .content .left .artCont p{float:left;width:500px;font-size:14px;color: #666;margin-left:10px;}
.wrapper .content .left .artCont .button{padding:6px 10px;background: #72c3e8;font-size:14px;color:#fff;cursor:pointer;position:absolute;bottom:10px;right:0;}
.wrapper .content .left .artMess{width:100%;height:30px;line-height:30px;text-indent:2em;font-size:12px;background:#F6F6F6;}
.wrapper .content .left .artMess dd{float:left;margin-right:20px;}
.wrapper .content .left .artMess dd time{padding-left:1.5em;background:url(../images/time.jpg) no-repeat left center;}
.wrapper .content .left .artMess dd a{color:#6F73FF;}

.wrapper .content .right .newList{border-top:2px solid #ccc;margin-top:20px;padding-top:20px;position:relative;}
.wrapper .content .right .newList h6{font-size:16px;width:80px;height:30px;line-height:30px;color:#999;background:#fff;position:absolute;top:-16px;}
.wrapper .content .right .newList h6 em{color:#FCB657;font-weight:600;}
.wrapper .content .right .newList li{font-size:14px;height:26px;line-height:26px;margin-left:10px;text-indent:1em;max-width:260px;position:relative;text-overflow:ellipsis; overflow:hidden; white-space:nowrap;}
.wrapper .content .right .newList li:before{content:"";position:absolute;top:12px;left:0;width:4px;height:4px;background:#999;}
.wrapper .content .right .newList li a{color:#333;transition: all 1s;}
.wrapper .content .right .newList li a:hover{text-decoration:underline;margin-left:3em;color:#999; }

.wrapper .content .right .recList{border-top:2px solid #ccc;margin-top:20px;padding-top:20px;position:relative;}
.wrapper .content .right .recList h6{font-size:16px;width:80px;height:30px;line-height:30px;color:#999;background:#fff;position:absolute;top:-16px;}
.wrapper .content .right .recList h6 em{color:#FCB657;font-weight:600;}
.wrapper .content .right .recList li{width:120px;height:160px;padding:0 6px;font-size:12px;margin-bottom:13px;border:1px solid #ccc;transition: all .3s;}
.wrapper .content .right .recList li:hover{box-shadow: 2px 2px 6px rgba(0,0,0,.2);}
.wrapper .content .right .recList li p{height:32px;overflow:hidden;}
.wrapper .content .right .recList li:nth-child(odd){float:left;}
.wrapper .content .right .recList li:nth-child(even){float:right;}
.wrapper .content .right .recList li img{width:120px;height:100px;margin:6px auto;}