body{background:#F7FAF3;}
/*模块1*/
.wrapper{overflow:hidden;}
.wrapper .spring{width:100%;height:auto;background:url(../images/page1.jpg) no-repeat center top;background-size:1500px;}
.wrapper .spring .title{color:#79A0A5;top:2%;left:20%;text-shadow: 2px 2px 6px rgba(0,0,0,.3);font-family: myFont;font-size:18px;}
.wrapper .spring .motto{width:300px;}
.wrapper .spring:before{content:"";position:absolute;width:100%;height:433px;z-index:2;}
.wrapper .spring .willow{right:0;z-index:1;}
.wrapper .spring .listBar{width:800px;height:200px;margin:-5px auto 0 auto;background:#F7FAF3 url(../images/sakola.png) no-repeat;border-radius:16px 16px 0 0;}
.wrapper .spring .listBar .cat{width:128px;height:128px;z-index:11;}
.wrapper .spring .listBar .cat1{top:-90px;left:60px;}
.wrapper .spring .listBar .cat2{bottom:-50px;right:160px;}
.wrapper .spring .listBar .cat3{bottom:-22px;left:160px;}
.wrapper .spring .listBar .personal{top:40px;left:40px;text-align:center;z-index:10;}
.wrapper .spring .listBar .personal .portrait{display:inline-block;width:120px;height:120px;border-radius:64px;border:3px solid #ccc;overflow:hidden;margin-bottom:6px;}
.wrapper .spring .listBar .personal .portrait img{width:100%;height:100%;}
.wrapper .spring .listBar .personal .portrait .name{width:100%;left:0;bottom:-40px;height:30px;line-height:30px;color:#fff;background:rgba(0,0,0,.6);transition: bottom .5s ease-out;}
.wrapper .spring .listBar .personal .portrait:hover .name{bottom:0;}
.wrapper .spring .listBar ul{width:100%;z-index:2;}
.wrapper .spring .listBar li{float:right;width:80px;height:68px;line-height:60px;margin-right:36px;margin-top:-6px;text-align:center;background:url(../images/tag.png) no-repeat;cursor:pointer;}
.wrapper .spring .listBar li a{color:#fff;font-size:14px;float:left;width:100%;}
.wrapper .spring .listBar li a.four{padding-top:10px;line-height:20px;}
.wrapper .spring .listBar li:nth-child(1){background-position:6px 0;}
.wrapper .spring .listBar li:nth-child(2){background-position:-86px 0;}
.wrapper .spring .listBar li:nth-child(3){background-position:-176px 0;}
.wrapper .spring .listBar li:nth-child(4){background-position:-266px 0;}
.wrapper .spring .listBar li:nth-child(5){background-position:-356px 0;}
/*模块2*/
.modelOne .img{min-width:1200px;}
.modelOne{height:680px;background:rgba(0,0,0,.5);overflow:hidden;}
.modelOne nav{left:22%;top:120px;z-index:12;}
.modelOne nav li{float:left;width:30px;text-align:center;border:1px solid #fff;box-shadow:0 0 8px rgba(255,255,255,.6);cursor:pointer;transition: all .3s;}
.modelOne nav li a{color:#fff;float:left;height:100%;}
.modelOne nav li:nth-child(1){height:180px;padding-top:100px;background:rgba(237,87,163,.9);margin-top:20px;}
.modelOne nav li:nth-child(2){height:120px;padding-top:80px;background:rgba(119,201,216,.9);margin-top:60px;}
.modelOne nav li:nth-child(3){height:160px;padding-top:80px;background:rgba(252,181,87,.9);margin-top:40px;}
.modelOne nav li:nth-child(4){height:200px;padding-top:120px;background:rgba(237,87,163,.9);}
.modelOne nav li:nth-child(5){height:100px;padding-top:30px;background:rgba(119,201,216,.9);margin-top:90px;}
.modelOne nav li:nth-child(1):hover{height:240px;padding-top:140px;margin-top:-20px;}
.modelOne nav li:nth-child(2):hover{height:200px;padding-top:160px;margin-top:-20px;}
.modelOne nav li:nth-child(3):hover{height:240px;padding-top:160px;margin-top:-40px;}
.modelOne nav li:nth-child(4):hover{height:260px;padding-top:160px;margin-top:-40px;}
.modelOne nav li:nth-child(5):hover{height:180px;padding-top:100px;margin-top:20px;}
.magic{top:120px;left:46%;width:400px;height:400px;z-index:11;transform: rotate(45deg);}
.magic li{float:left;width:120px;height:120px;margin:5px;overflow:hidden;box-shadow:1px 1px 6px rgba(0,0,0,.3);}
.magic li span{display:block;width:170px;height:170px;line-height:170px;text-align:center;margin:-25px;transform: rotate(-45deg);position:relative;}
.magic li span:before{display:block;width:100%;height:100%;position:absolute;top:-170px;color:#fff;background:rgba(0,0,0,.5);transition: top .5s;}
.magic li:nth-child(1) span:before{content:"此時";}
.magic li:nth-child(2) span:before{content:"此刻";}
.magic li:nth-child(3) span:before{content:"用尽力氣";}
.magic li:nth-child(6) span:before{content:"感受";}
.magic li:nth-child(9) span:before{content:"每一次";}
.magic li:nth-child(8) span:before{content:"成功";}
.magic li:nth-child(7) span:before{content:"带来的";}
.magic li:nth-child(4) span:before{content:"喜悦";}
.magic li span:hover:before{top:0;}
.magic li:nth-child(1){margin-left:10px;margin-top:10px;background:#EB59A4;}
.magic li:nth-child(2){margin-top:10px;background:#FCB657;}
.magic li:nth-child(3){margin-top:10px;background:#78CAD8;}
.magic li:nth-child(4){margin-left:10px;background:#78CAD8;}
.magic li:nth-child(5){background:#EB59A4;color:#fff;font-size:20px;}
.magic li:nth-child(6){background:#FCB657;}
.magic li:nth-child(7){margin-left:10px;background:#FCB657;}
.modelOne .talk{width:260px;left:74%;top:80px;color:#fff;}
/*公路*/
.wrapper .road{width:100%;height:220px;background:#434343;position:relative;}
.wrapper .line{width:100%;height:6px;position:absolute;top:100px;
    background:linear-gradient(#fff, #fff) 20px 10%, linear-gradient(#fff, #fff) 140px 10%, linear-gradient(#fff, #fff) 260px 10%,
    linear-gradient(#fff, #fff) 380px 10%, linear-gradient(#fff, #fff) 500px 10%, linear-gradient(#fff, #fff) 620px 10%,
    linear-gradient(#fff, #fff) 740px 10%, linear-gradient(#fff, #fff) 860px 10%, linear-gradient(#fff, #fff) 980px 10%,
    linear-gradient(#fff, #fff) 1100px 10%, linear-gradient(#fff, #fff) 1220px 10%, linear-gradient(#fff, #fff) 1340px 10%,
    linear-gradient(#fff, #fff) 1460px 10%, linear-gradient(#fff, #fff) 1580px 10%, linear-gradient(#fff, #fff) 1700px 10%,
    linear-gradient(#fff, #fff) 1820px 10%, linear-gradient(#fff, #fff) 1940px 10%, linear-gradient(#fff, #fff) 2060px 10%,
    linear-gradient(#fff, #fff) 2180px 10%, linear-gradient(#fff, #fff) 2300px 10%, linear-gradient(#fff, #fff) 2420px 10%;
    background-repeat:no-repeat;background-size:80px 4px;
}
/*树*/
.tree{width:120px;height:180px;background-image:url(../images/tree.png);background-repeat:no-repeat;position:absolute;z-index:10;}
.tree1{top:-160px;left:10%;background-position:0 0;}
.tree2{top:-146px;left:50%;background-position:-140px -180px;}
.tree3{top:-146px;left:85%;background-position:-380px -180px;}
/*车*/
.car{width:510px;height:232px;background:url(../images/car.png) no-repeat left center;position:absolute;z-index:100;bottom:30px;left:-10px;transition: left 10s;}
.car:before{content:"";position:absolute;background:url(../images/car_lun.png) no-repeat center;width:66px;height:66px;left:64px;bottom:15px;transform: rotate(0deg);transition: transform 10s;}
.car:after{content:"";position:absolute;background:url(../images/car_lun.png) no-repeat center;width:66px;height:66px;right:69px;bottom:15px;transform: rotate(0deg);transition: transform 10s;}
.road:hover .car{left:100%;}
.road:hover .car:before{transform: rotate(1640deg);}
.road:hover .car:after{transform: rotate(1640deg);}

.wrapper main{width:100%;min-height:650px;background:#fff;padding-top:40px;}
.wrapper .content{padding-top:20px;background:url(../images/h_line.jpg) repeat-x left top;}
.wrapper .content .title{width:100px;height:40px;line-height:40px;font-size:20px;background:#fff;top:-16px;left:0;}
.wrapper .content .title span{color:#FE51A5;font-weight: bold;}

.wrapper .content .left li{width:100%;padding-top:20px;}
.wrapper .content .left li h4 a{color: #333;}
.wrapper .content .left .artCont{margin:10px 0;position:relative;}
.wrapper .content .left .artCont .img{float:left;width:180px;min-height:80px;padding:4px;border:1px solid #efefef;}
.wrapper .content .left .artCont .img img{width:180px;}
.wrapper .content .left .artCont p{float:left;width:500px;font-size:14px;color: #666;margin-left:10px;}
.wrapper .content .left .artCont .button{padding:6px 10px;background:#ED6CAF;font-size:14px;color:#fff;cursor:pointer;position:absolute;bottom:10px;right:0;}
.wrapper .content .left .artMess{width:100%;height:30px;line-height:30px;text-indent:2em;font-size:12px;background:#F6F6F6;}
.wrapper .content .left .artMess dd{float:left;margin-right:20px;}
.wrapper .content .left .artMess dd time{padding-left:1.5em;background:url(../images/time.jpg) no-repeat left center;}
.wrapper .content .left .artMess dd a{color:#6F73FF;}

.wrapper .content .right .newList{border-top:2px solid #ccc;margin-top:20px;padding-top:20px;position:relative;}
.wrapper .content .right .newList h6{font-size:16px;width:80px;height:30px;line-height:30px;color:#999;background:#fff;position:absolute;top:-16px;}
.wrapper .content .right .newList h6 em{color:#FCB657;font-weight:600;}
.wrapper .content .right .newList li{font-size:14px;height:26px;line-height:26px;margin-left:10px;text-indent:1em;max-width:260px;position:relative;text-overflow:ellipsis; overflow:hidden; white-space:nowrap;}
.wrapper .content .right .newList li:before{content:"";position:absolute;top:12px;left:0;width:4px;height:4px;background:#999;}
.wrapper .content .right .newList li a{color:#333;transition: all 1s;}
.wrapper .content .right .newList li a:hover{text-decoration:underline;margin-left:3em;color:#999; }

.wrapper .content .right .recList{border-top:2px solid #ccc;margin-top:20px;padding-top:20px;position:relative;}
.wrapper .content .right .recList h6{font-size:16px;width:80px;height:30px;line-height:30px;color:#999;background:#fff;position:absolute;top:-16px;}
.wrapper .content .right .recList h6 em{color:#FCB657;font-weight:600;}
.wrapper .content .right .recList li{width:120px;height:160px;padding:0 6px;font-size:12px;margin-bottom:13px;border:1px solid #ccc;transition: all .3s;}
.wrapper .content .right .recList li:hover{box-shadow: 2px 2px 6px rgba(0,0,0,.2);}
.wrapper .content .right .recList li p{height:32px;overflow:hidden;}
.wrapper .content .right .recList li:nth-child(odd){float:left;}
.wrapper .content .right .recList li:nth-child(even){float:right;}
.wrapper .content .right .recList li img{width:120px;height:100px;margin:6px auto;}