
<div class="modelOne rel">
	<p class="cover"><img class="img" width="100%" src="/blogStatic/images/bg.jpg"/></P>
	<nav class="abs">
		<ul>
			<li><a href="/blog/mood">碎言碎语</a></li>
			<li><a href="/blog/recollect">记忆</a></li>
			<li><a href="/blog/life">慢生活</a></li>
			<li><a href="/blog/way">长路漫漫</a></li>
			<li><a href="/blog/about">关于我</a></li>
		</ul>
	</nav>
	<div class="magic abs">
		<ul>
			<li><span><img width="170" src="/blogStatic/images/chenmi/cm3.jpg"/></span></li>
			<li><span><img width="170" src="/blogStatic/images/chenmi/cm2.jpg"/></span></li>
			<li><span></span></li>
			<li><span><img width="170" src="/blogStatic/images/chenmi/cm4.jpg"/></span></li>
			<li><span>{{data.title}}</span></li>
			<li><span><img width="170" src="/blogStatic/images/chenmi/cm5.jpg"/></span></li>
			<li><span></span></li>
			<li><span><img width="170" src="/blogStatic/images/chenmi/cm7.jpg"/></span></li>
			<li><span><img width="170" src="/blogStatic/images/chenmi/cm8.jpg"/></span></li>
		</ul>
	</div>
	<div class="talk abs">{{data.motto}}</div>
</div>