{% extends '../base.html' %}
{% block title %}音乐{% endblock %}
{% block css %}
<link type="text/css" rel="stylesheet" href="/css/music.css"/>
{% endblock %}
{% block body %}
<input id="songid" type="hidden" value="{{ data.songinfo.song_id }}"/>
<div class="music_box">
    <audio id="audio" class="hide" src="/play/music/{{ data.songinfo.song_id }}?url={{ data.bitrate.show_link }}" autobuffer></audio>
    <h2 class="title">{{ data.songinfo.title }}</h2>
    <p>- {{ data.songinfo.author }} -</p>
    <!--<audio src="/play/music/{{ data.songinfo.song_id }}?url={{ data.bitrate.show_link }}" controls="controls">
        您的浏览器不支持 audio 标签。
    </audio>-->
    <div class="disc">
        <div class="pic_radio paused">
            <img src="{{ data.songinfo.pic_big }}"/>
        </div>
    </div>
    <div class="lrc-box">

    </div>
    <div class="time_progress">
        <p id="loading" data-load="加载中，请稍后..."></p>
        <p class="time hide"><time id="current">00:00</time>/<time id="duration">00:00</time></p>
        <p id="progress" class="progress"></p>
    </div>
    <div class="operator-btn">
        <ol>
            <li><span class="last"></span></li>
            <li><span class="start play"></span></li>
            <li><span class="next"></span></li>
        </ol>
    </div>
</div>

<script src="/js/music.js"></script>
{% endblock %}