{% extends 'base.html' %}

{% block css %}
<link type="text/css" rel="stylesheet" href="{{zone_static}}/css/index.css">
{% endblock %}

{% block nav %}{% endblock %}
{% block wrapper %}
{% if data.model == '2' %}
{% include 'modelOne.html' %}
{% else %}
{% include 'modelTwo.html' %}
{% endif %}
<main>
    <div class="content rel clear">
        <p class="title abs">文章<span>推荐</span></p>
        <div class="left fl">
            {% if artic.length == 0 %}
            <p>暂无内容！</p>
            {% else %}
            <ul>
                {% for art in artic %}
                <li>
                    <h4><a href="/zone/article/{{art.id}}/detail">{{art.title}}</a></h4>
                    <div class="artCont clear">
                        <a href="/zone/article/{{art.id}}/detail" class="img"><img src="{{zone_static}}/images/article/c-01.jpg"></a>
                        <p>{{art.abstract|striptags}}</p>
                        <a href="/zone/article/{{art.id}}/detail" class="button">阅读全文</a>
                    </div>
                    <div class="artMess">
                        <dl><dd><time>{{art.create_time|date('Y-m-d', -480)}}</time></dd><dd>作者：{{art.author}}</dd><dd>个人博客：[<a href="/zone/article?name={{art.type}}">
                            {{art.type}}</a>]</dd></dl>
                    </div>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <div class="right fr">
            <div class="newList">
                <h6>最新<em>文章</em></h6>
                {% if newart.length == 0 %}
                <p>暂无内容！</p>
                {% else %}
                <ul>
                    {% for art in newart %}
                    <li><a href="/{% if art.type == '1' %}lway{% else %}life{% endif %}/zone?id={{art.Id}}">{{art.title}}</a></li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>

            <div class="recList clear">
                <h6>站长<em>推荐</em></h6>
                {% if sart.length == 0 %}
                <p>暂无内容！</p>
                {% else %}
                <ul>
                    {% for obj in sart %}
                    <li><a href="/{% if obj.type == '1' %}lway{% else %}life{% endif %}/zone?id={{obj.Id}}" title="{{obj.title}}"><img src="{{obj.imgpath}}"/></a><p>{{obj.title}}</p></li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
    </div>
</main>
{% endblock %}

{% block script %}
<script type="text/javascript" src="{{zone_static}}/js/index.js"></script>
{% endblock %}