
<div class="modelOne rel">
	<p class="cover"><img class="img" width="100%" src="{{zone_static}}/images/bg.jpg"/></p>
	<nav class="abs">
		<ul>
			<li><a href="/zone/mood">碎言碎语</a></li>
			<li><a href="/zone/recollect">记忆</a></li>
			<li><a href="/zone/life">慢生活</a></li>
			<li><a href="/zone/way">长路漫漫</a></li>
			<li><a href="/zone/personal">个人中心</a></li>
		</ul>
	</nav>
	<div class="magic abs">
		<ul>
			<li><span><img width="170" src="{{zone_static}}/images/temp/a.jpg"/></span></li>
			<li><span><img width="170" src="{{zone_static}}/images/temp/b.jpg"/></span></li>
			<li><span></span></li>
			<li><span><img width="170" src="{{zone_static}}/images/temp/c.jpg"/></span></li>
			<li><span>{{data.title}}</span></li>
			<li><span><img width="170" src="{{zone_static}}/images/temp/d.jpg"/></span></li>
			<li><span></span></li>
			<li><span><img width="170" src="{{zone_static}}/images/temp/e.jpg"/></span></li>
			<li><span><img width="170" src="{{zone_static}}/images/temp/f.jpg"/></span></li>
		</ul>
	</div>
	<div class="talk abs">{{data.motto}}</div>
</div>