{% extends 'base.html' %}
{% block title %}欢迎{% endblock %}
{% block css %}
<style>
#container {
overflow: hidden;
position: absolute;
top: 0; left: 0; right: 0; bottom: 0;
}

#background_video {
position: absolute;

top: 50%; left: 50%;
transform: translate(-50%, -50%);

object-fit: cover;
height: 100%; width: 100%;
}

#video_cover {
position: absolute;
width: 100%; height: 100%;
background: url('{{zone_static}}/images/video_cover.jpeg') no-repeat;
background-size: cover;
background-position: center;
}


#overlay {
position: absolute;
top: 0; right: 0; left: 0; bottom: 0;
background: rgba(0,0,0,0.5);
}

.content{position: absolute;top:0;bottom:0;left:0;right:0;}
.floor-nav{position:absolute;bottom:0;width:800px;height:100px;border-radius:10px 10px 0 0;left:50%;margin-left:-400px;box-shadow:-1px -1px 6px rgba(0,0,0,.1);background:rgba(255,255,255,.1)}
.floor-nav li{float:left;width:200px;height:100px;}
</style>
{% endblock %}

{% block body %}

<body>
<div id="container">
    <video id="background_video" loop muted></video>
    <div id="video_cover"></div>
    <div id="overlay"></div>

    <div class="content">
        <div class="floor-nav">
            <ol>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ol>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="{{common_static}}/js/bideo.min.js"></script>
<script>
    (function () {

        var bv = new Bideo();
        bv.init({
            // Video element
            videoEl: document.querySelector('#background_video'),

            // Container element
            container: document.querySelector('body'),

            // Resize
            resize: true,

            autoplay: true,

            //isMobile: window.matchMedia('(max-width: 768px)').matches,

            playButton: document.querySelector('#play'),
            pauseButton: document.querySelector('#pause'),

            // Array of objects containing the src and type
            // of different video formats to add
            src: [

                {
                    src: '{{root_url}}/video/night.webm',
                    type: 'video/webm;codecs="vp8, vorbis"'
                }
            ],

            // What to do once video loads (initial frame)
            onLoad: function () {
                document.querySelector('#video_cover').style.display = 'none';
            }
        });
    }());

</script>
{% endblock %}