{% extends 'base.html' %}
{% block title %}Mk首页{% endblock %}
{% block css %}
<link type="text/css" rel="stylesheet" href="/wechatStatic/css/wxy.css"/>
<style>
    .editor{}
</style>
{% endblock %}

{% block body %}
<div>
    {% include '../plugin/simditor.html' with {type:'article', name: '发布'} %}
<!--<button id="ask">提问</button>
    <div class="editor fn-hide">


    </div>-->
</div>
{% endblock %}

{% block script %}
<script>
    $("#ask").click(function(){
        $(".editor").removeClass("fn-hide");
    });
</script>
{% endblock %}