{% extends 'baseBlog.html' %}

{% block title%}登录{% endblock %}
{% block css %}
<link type="text/css" rel="stylesheet" href="/commonStatic/css/animate.min.css">
<style>

    .animate-left{position:absolute;top:0;bottom:0;left:0;right:50%;background:#333;transition:right 1s;}
    .animate-right{position:absolute;top:0;bottom:0;left:50%;right:0;background:#333;transition:left 1s;}
    .login-box{width:300px;height:380px;text-align:center;background:#fff;position:absolute;opacity:0;transition:opacity 1s;}
    .qrcode-box{width:200px;margin:50px auto;position:relative;}
    .qrcode-box img{width:50px;height:50px;border-radius:25px;box-shadow: 0 0 6px #333;position:absolute;left:75px;top:75px;}
    .qrcode{width:200px;height:200px;}
    .red{color:#FF2A2C;}
</style>
{% endblock %}

{% block body %}
<div class="box">
    <div class="animate-left"></div>
    <div class="animate-right"></div>
    <div id="animate" class="animated">
        <div id="loginBox" class="login-box">
            <div class="qrcode-box">
                <img src="/commonStatic/images/wechat_ico.jpg"/>
                <div id="qrcode" class="qrcode"></div>
            </div>
            <p>使用微信<span class="red">公众号</span>扫码登录</p>
        </div>
    </div>
</div>
<div>
    {% include 'part/loginSuccess.html' %}
</div>
{% endblock %}

{% block script %}
<script type="text/javascript" src="/commonStatic/js/jquery.qrcode.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="blogStatic/js/login/myFunc.js"></script>
<script src="blogStatic/js/login/move.js"></script>
<script src="blogStatic/js/login/choose.js"></script>
<script type="text/javascript">

    const ident = randomString(16);
    const msg = toUtf8(WX_QR_MSG);
    const g = toUtf8(WX_NUMBER);

    $("#loginBox").BoxCenter({animate:'zoomInUp'});

    $('#qrcode').qrcode({
        render: "canvas", //也可以替换为table
        width: 200,
        height: 200,
        foreground: "#333",
        background: "#FFF",
        text: "login=="+ident+"==\n"+msg+"\n"+g
    });

    const socket = io.connect();//与服务器进行连接
    socket.emit('join', ident);

    socket.on('pmsg', function (from, msg){

        $.ajax({
            url: "/ajax/loginCheck",
            type: "post",
            data: msg,
            success: (result) => {
                if(result.code === '20001'){
                    setCookie('authToken', result.data.authToken, AUTH_TOKEN_VALIDITY_PERIOD);
                    const reqData = getRequest();
                    if(reqData.redirectURL){
                        window.location.href = reqData.redirectURL;
                    }else{
                        animated();
                    }

                }else{
                    alert(result.msg);
                }

            },
            error: (err) => {
                console.log(err);
            }

        });
    });

    //登录成功后动画
    const animated = () => {
        $("#animate").addClass("zoomOutUp");
        setTimeout(()=>{
            $('.animate-left').css('right','100%');
            $('.animate-right').css('left','100%');
        },1000);
        setTimeout(()=>{
            setInterval(function(){
                Flower.Init();
            },600);
            Work();
        },1500);
    };
</script>
{% endblock %}